@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .w-nav {
    @apply w-full bg-primary flex py-3 lg:py-4 justify-center fixed z-50;
  }
  .nav-content {
    @apply w-full max-w-desk flex justify-between items-center px-6 lg:px-0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
